@model IndyBeerNavigator.Models.BreweryModels.BreweryDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Brewery Specifics</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BreweryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BreweryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carryout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carryout)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modify", "Edit", new { id = Model.BreweryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
